$light-color: whitesmoke;
$grey-color: #f4f4f4;
$light-color-hover: #fff;
$primary-color: #c69;
$secondary-color: #c88;

// definir a cor do texto vendo atráves da cor primária do "background"
@function set-text-color($color) {
    @if (lightness($color) > 70) {
        @return #333;
    } @else {
        @return whitesmoke;
    }
}

// definir o "background" e a cor
@mixin set-background($color) {
    background: $color;
    color: set-text-color($color);
}